[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
motor = "==2.4.0"
uvicorn = "*"
fastapi = "*"
sqlalchemy = "*"
flask-mysqldb = "*"
flask-mysql = "*"
flask-sqlalchemy = "*"
pymysql = "*"
yfinance = "*"
jinja2 = "*"
"sqlalchemy.orm" = "*"

[dev-packages]

[requires]
python_version = "3.9"
